<%- include("header") %> 
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis non repellendus molestias quidem esse eos dolorum quos. Eos commodi saepe blanditiis ex accusamus veritatis aliquid, officiis ipsa ducimus. Dolorem, vitae?</p>
<%- include("footer") %> 